* {box-sizing: border-box;}
.body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}

.body {font-size:16px;}

 .img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}

.img:hover{opacity:1}

.c-body .c-text{
  border: 2px solid red;
  color:yellow;
}
.hide{
  display: none;
}
.btn{
  padding: 13px;
  background-color: black;
  color:white;
}
.btn:hover{
  opacity: 0.7;
  color:white;
}
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.form-control{
  height:38px;
}



  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
  
  }
  .card p{
    color:black;
  }
  .card h1{
    color:black;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  } 

  .cart-info{

    padding: 10px;  
    width: 88%;
    position: relative;  
    margin-left: 5rem;
  }
  .cart-info p{
    padding:20px;  
    font-size: 20px;
  }
  
  .remove{  
    position: absolute;  
    bottom: 20px;     
     right: 100px;  
    padding: 10px 25px;  
    background-color: red;  
    color: white;  
    cursor: pointer;   
     width:50%;  
  }
 
  .total{
    width: 200px;
    height: 106px;
    padding: 10px;
    border: 2px solid lightgray;
  }
  .cart2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  }